*{

margin: 0;
padding: 0;
box-sizing: border-box;

}

body{
  width: 100%;
  height: 100vh;
  padding: 32px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #fbfafa;

}

h1{
   margin: 22px 0;

}

nav {
  display: flex;
  align-items: center;
  gap: 22px;


}

a {
  color:#f24d0d;
  text-decoration: none;
}

a, button {
  font-weight:  700;
  text-transform: filter 0.2s;
}

a:hover, button:hover {
  filter: brightness(0.7);
}

span{
  color: #3d3d3d;
  font-weight: 600;
  font-size: 14px;
}

strong{
  color:#f24d0d;
  text-transform: uppercase;
}

button{
  background-color: #f24d0d;
  color: #fbfafa;
  border: none;
  border-radius: 7px;
  padding: 12px 16px;
  cursor: pointer;
}

.cards{
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  margin: 18px 0;
}

.cards a {
  width: 100px;
  height: 100px;
  background-color: #d7eff9;
  border-radius: 12px;
  color: #0095e5;
  display: flex;
  align-items: center;
  justify-content: center;
}